@model WebApplication1.Models.PostDetailsViewModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .card {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 20px;
            margin: 20px 0;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        /* Style the posts username */
        .post-username {
            float: left;
            margin-left: 0px;
            margin-right: 0;
            color: #999;
        }

        /* Style the posts settings button */
        .settings-button {
            cursor: pointer;
            font-size: 18px;
            position: relative;
            display: inline-block;

            float: right;
            margin-left: 0px;
            margin-right: 0;
        }

        .settings-dropdown {
            right: 0;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .settings-dropdown a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .settings-dropdown a:hover {
            background-color: #f1f1f1
        }

        .settings-button:hover .settings-dropdown {
            display: block;
        }
        /* Style the posts time */
        .post-time {
            float: left;
            margin-left: 0px;
            margin-right: 0;
            color: #999;
        }
        /* Style the posts content */
        .post-content {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            text-align: left;
        }
    </style>
</head>

<h3>Post</h3>

<div>
    <a asp-action="Index">Back</a>
</div>

<div class="card">
    <span class="post-username">@Html.DisplayFor(modelItem => Model.Post.Username)</span>

    <div class="settings-button">
        <span><i class="material-icons">settings</i></span>
        <div class="settings-dropdown">
            <a asp-action="Edit" asp-route-id="@Model.Post.ID" class="dropdown-button">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Post.ID" class="dropdown-button">Delete</a>
        </div>
    </div>


    <h2>@Html.DisplayFor(model => model.Post.Title)</h2>

    <div class="post-content">
        <p>@Html.DisplayFor(model => model.Post.Content)</p>
    </div>

    <span class="post-time">@Html.DisplayFor(modelItem => Model.Post.Published)</span>
    <br>
</div>



<hr>
<h3>Comments</h3>
<hr>

@foreach (var item in Model.Comments)
{
    <div class="card">
    <span class="post-username">@Html.DisplayFor(modelItem => item.Username)</span>

    <br>
    <div class="post-content">
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
    </div>

    <span class="post-time">@Html.DisplayFor(modelItem => item.Published)</span>
    <br>

</div>

}

<hr>

<h4>Add Comment</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostID" value="@Model.Post.ID" />
            <div class="form-group">
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
