@model IEnumerable<WebApplication1.Models.Post>

@{
    ViewData["Title"] = "Posts";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="~/css/posts.css" type="text/css" />
    
</head>
<h1>Posts</h1>


<p>
    <a asp-action="Create" class="add-button">
        <button><i class="material-icons">add</i></button>
     </a>
</p>


<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Sort</button>
    <div id="myDropdown" class="dropdown-content">
        @Html.ActionLink("Date added (old-to-new)", "Index", new { sortOrder = "Date" })
        @Html.ActionLink("Date added (new-to-old)", "Index", new { sortOrder = "Date-Descending" })
    </div>
</div>
<br>
<script src="~/js/dropDown.js" type="text/javascript"></script>

@using (Html.BeginForm())
{
<p>
    Title: @Html.TextBox("SearchString")
    <a class="search-button">
        <button type="submit"><i class="material-icons">search</i></button>
    </a>
</p>
}


@{var odd = false;}
@foreach (var item in Model)
{
    odd = !odd;
    <div class="card" style="@(odd ? "background-color: #F0F0F0;" : "background-color:lightskyblue;")">
        <span class="post-username">@Html.DisplayFor(modelItem => item.Username)</span>
        <span class="post-time">@Html.DisplayFor(modelItem => item.Published)</span>

        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>

        <a asp-action="Comments" asp-route-id="@item.ID" class="comments-button">View Comments</a>
    </div>
}
